.tags-input {

  input {
    border: 0;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 0.3em;
    margin: 0;
    width: auto;
    max-width: inherit;
  }

  .tag {
    position: relative;
    margin-right: 0.25em;
    font-weight: bold;
    border-radius: 5px !important;
  }

  .badge-light {
    background-color: $primary !important;
    color: white;
  }

}