/*
.card {
	border-top-width: 0.5em;
	border-top-color: $primary;

	.card-header {
		padding-top: 0.5em; 
		padding-bottom: 0.5em; 
		font-size: $font-size-base*0.8
	}

}*/

.list-group-item {
	.answer-preview {
		max-height: 9em;
	}

	.answer-image-preview img {
		    max-width: 100%;
		    height: auto;
		    max-height: 8em;
	}

}