
#nav-search-bar {
  width: 0;
  height: 0;
  padding: 0;
  margin-top: 0.5em;
  border: 0;
  transition: width 0.5s ease-in-out;
}

#nav-search-bar.open {
  width: 10em;
  padding: 0.25em;
  height: 2em;
}

@media (max-width: 768px){
  #nav-search-bar.open {
    width: 5.5em;
  }
}

