.sign-up-card {
	.social-buttons div {
		margin: 0 1em 0.5em 1em;
	}
}

.navbar-nav {
	.profile-photo {
		margin-bottom: 0.25em;
	}

	.nav-link {
		font-size: $font-size-base*1.3;
	}
}


html{
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

body {
	background-color: $gray-100;
}

footer {
	background-color: $white;
	padding: 1em;

	border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px 0 0 0;
}

.side-menu {
	margin-top: 2.45em;
}

.no-bullets {
	list-style: none;
}

.who-follow {
	.list-group-item {
		padding: 0.75em 0.25em;
	}
}

