.admin-ban:hover {
  background-color: #d9534f;
  /* red */
  border-color: red; }

.admin-edit:hover {
  background-color: #f0ad4e;
  /* yellow */
  border-color: yellow; }

.admin-promote:hover {
  background-color: #02B875;
  /* green */
  border-color: green; }

/* By Kubix */
#sidebarCollapse {
  display: none; }

#sidebarClose {
  display: none; }

.sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  transition: all 0.25s ease-in; }

.sidebar.active {
  margin-left: -250px; }

@media (max-width: 768px) {
  .sidebar {
    margin-left: -250px; }

  .sidebar.active {
    margin-left: 0; }

  #sidebarCollapse {
    display: initial; }

  #sidebarClose {
    display: initial; }

  #nav-search-bar.open {
    visibility: visible;
    padding: 4px 8.8px;
    width: 100px; } }
#nav-search-bar {
  visibility: hidden;
  width: 0;
  padding: 0;
  transition: all 0.5s ease-in-out; }

#nav-search-bar.open {
  visibility: visible;
  padding: 8px 17.6px;
  width: 500px; }

/* MANUALLY INSERTED END */