.profile-header {
	padding-top: 2em;

	.profile-info {
		padding-top: 1em;
	}

	.bio {
		padding-left: 0;
		padding-top: 1em;
		.table {
			td, th {
				border: 0;
			}
		}
	}
}

.profile-content {
	padding-top: 2em;

	.container {
		max-width: 768px;
	}
}
